body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: center;
}