body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: rgb(255,254,254);
}
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9967A;
}
.navlink {
    float: left;
    border-right: 1px solid #F5F5F5;
}    
.active{
    background-color: #8FBC8F;
}
li a{
    display: block;
    color: #F5F5F5;
    text-align: center;
    padding: 10px 15px;
}

li a:hover {
    background-color: #8FBC8F;
    
}
h1{
    font-family: Oswald;
	font-size: 120px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding-top: 30px;
	padding-left: 30px;
}
img{
    display: block;
    margin: auto;
    z-index: -1;
}
h2{
    text-align: center;
    color: #E9967A;
}
h3{
 text-align: center;   
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #8FBC8F;
}
th{
    border: 1px solid black;
    text-align: center;
    width: 240px;
    height: 25px;
    background-color: #E9967A;
}
td{
    border: 1px solid black;
    text-align: center;
    height: 25px;
}
.period{
    color:	rgb(255,254,254);
    width: 80px;
}
.class{
    color: rgb(255,254,254);
}

p{
    text-align: center;
}
